<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola <%= @job.contact.to_s[0, @last_index.to_i] %>!</h1>
    <p>
      Tenemos un nini listo para realizar tu tarea <%= @cat_name %>.<br/>
    </p>
    <p>
      Para asignar esta tarea da click en el siguiente <a href="<%= @url %>">link</a>
    </p>
    <p>
      O puedes esperar a recibir más propuestas.
    </p>
    <p>¡Gracias por utilizar goninis!</p>
  </body>
</html>
