<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<h1>Handys para tu hogar</h1>
<% @categories.each do |category| %>
<div class="entry">
<%= image_tag(category.icon) %> <h3><%= category.title %></h3>
<%= sanitize(category.title) %>
</div>
<% end %>