<section id="listing">
  <% @jobs.each do |job| %>
    <% cat = JobCategory.find_by_id(job.job_category_id) %>
    <div class="item">
    <% if job.private == true %>
      <p class="title"><%= link_to cat.title, job %></p>
      <p class="offer"><%= job.offer %></p>
    <% end %>
    </div>
  <% end %>
</section>