<footer>
  <section class="left">
    <div class="clickable icon twitter left">
      <a target="_blank" href="https://twitter.com/goninis">&nbsp;</a>
    </div>
    <div class="clickable icon facebook left">
      <a target="_blank" href="https://www.facebook.com/Goninis">&nbsp;</a>
    </div>
  </section>
  <section class="about">
    <nav class="left">
      <ul>
        <li><a href="http://landing.goninis.com/nosotros">Nosotros</a></li>
        <li><a href="http://landing.goninis.com/como">Ayuda</a></li>
        <li><a href="http://landing.goninis.com/privacidad">Privacidad</a></li>
        <li><a href="http://landing.goninis.com/condiciones">Condiciones</a></li>
        <% if session[:user_id] %>
          <li><%= button_to 'Salir', logout_path, method: :delete %></li>
        <% end %>
      </ul>
    </nav>
  </section>
</footer>