<footer>
  <section class="left">
    <a class="twitter" href="#"></a>
    <a class="facebook" href="#"></a>
  </section>
  <section class="right">
    <strong>Seguridad, nuestra tarea No. 1</strong>
    <nav>
      <ul>
        <li><a href="#">Políticas de privacidad</a></li>
        <li><a href="#">Precios</a></li>
        <li><a href="#">Condiciones</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
    </nav>
  </section>
</footer>