<footer>
  <section class="left">
    <div class="clickable icon twitter left">
      <a target="_blank" href="https://twitter.com/goninis">&nbsp;</a>
    </div>
    <div class="clickable icon facebook left">
      <a target="_blank" href="https://www.facebook.com/Goninis">&nbsp;</a>
    </div>
  </section>
  <section class="about">
    <strong class="left">Seguridad, nuestra tarea No. 1</strong>
    <nav>
      <ul>
        <li><a href="#">Políticas de privacidad</a></li>
        <li><a href="#">Precios</a></li>
        <li><a href="#">Condiciones</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
    </nav>
  </section>
</footer>