<header>
  <nav>
    <ul>
      <li><a href="#">Nosotros</a></li>
      <li class="menu divider">|</li>
      <li><a href="#">¿Cómo funciona?</a></li>
      <li class="menu divider">|</li>
      <li><a href="#">¿Por qué  utilizar goninis?</a></li>
      <li class="menu divider">|</li>
      <li><a href="#">Promociones</a></li>
      <li class="menu divider">|</li>
      <li><a href="#">Conviértete en Handy</a></li>
    </ul>
  </nav>
</header>
<% if @branding %>
<section class="job logo"></section>
<% elsif @publish %>
<section>
  <div class="clickable job logo publish">
    <%= link_to "New job", tasks_path %>
  </div>
  <div class="clickable new"><%= link_to "New job", new_job_path %></div>
</section>
<% end %>