<section id="brand">
  <a href="/"><h1 class="icon logo left">goninis | Beta privado</h1></a>
  <div class="clickable icon ingresa right">
    <%= link_to "¡Unete!", new_user_path %>
  </div>
  <div class="ingresa-wrapper">
    <%= link_to "Ingresa", login_path %>
  </div>
</section>
<% if  @publish %>
<section>
  <div class="clickable job logo publish">
    <%= link_to "New job", tasks_path %>
  </div>
  <div class="clickable new"><%= link_to "New job", new_job_path %></div>
</section>
<% end %>
