<header>
  <nav>
    <ul>
      <li><a href="#">Nosotros</a></li>
      <li class="menu divider">|</li>
      <li><a href="#">¿Cómo funciona?</a></li>
      <li class="menu divider">|</li>
      <li><a href="#">¿Por qué  utilizar goninis?</a></li>
      <li class="menu divider">|</li>
      <li><a href="#">Promociones</a></li>
      <li class="menu divider">|</li>
      <li><a href="#">Conviértete en Handy</a></li>
    </ul>
  </nav>
</header>