<div class="modal" id="limpiza_hogar">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3>CARACTERISTICAS DEL SERVICIO</h3>
  </div>
  <div class="modal-body">
    <!-- Start Limpieza del Hogar -->
    <section id="regular">
      <table class="table table-striped">
        <tr>
          <td>El servicio incluye</td>
          <td>El servicio excluye</td>
        </tr>
        <tr>
          <td>Personal capacitado para limpieza</td>
          <td>*Lavado y planchado de ropa</td>
        </tr>
        <tr>
          <td>Supervisor asignado remotamente</td>
          <td>Limpieza de roperos y closets</td>
        </tr>
        <tr>
          <td>Uniformes</td>
          <td>Limpiar vidrios</td>
        </tr>
        <tr>
          <td>Comida del Handy (por cuenta del handy)</td>
          <td>Mover o desplazar objetos pesados (muebles, estufas, refrigeradores, etc.)</td>
        </tr>
        <tr>
          <td>Barrido/aspirado de pisos</td>
          <td>*Preparar o servir comida</td>
        </tr>
        <tr>
          <td>Trapeado de pisos</td>
          <td>Trabajo de jardinería, pintura, plomería, eléctricos, etc</td>
        </tr>
        <tr>
          <td>Desempolvar muebles</td>
          <td>Lavado de alfombras, sillones, cortinas, etc</td>
        </tr>
        <tr>
          <td>Lavar platos</td>
          <td>Regar o arreglar plantas.</td>
        </tr>
        <tr>
          <td>Separar basura, colocarla en depósitos (no cascajo u objetos pesados) y cambiar las bolsas de los botes</td>
          <td>Quitar sarro de baños, lavabos, llaves, regaderas y azulejos</td>
        </tr>
        <tr>
          <td>Revisión del personal al salir de casa</td>
          <td>Limpiar paredes (pequeñas manchas)</td>
        </tr>
        <tr>
          <td></td>
          <td>Aplicaciones en muebles (aerosoles, ceras antipolvo, etc)</td>
        </tr>
        <tr>
          <td></td>
          <td>Químicos</td>
        </tr>
        <tr>
          <td></td>
          <td>Herramientas de limpieza</td>
        </tr>
        <tr>
          <td></td>
          <td>Sanitación con químicos germicidas (cocinas, baños, etc.)</td>
        </tr>
        <tr>
          <td></td>
          <td>Limpieza de vapor en áreas criticas</td>
        </tr>
        <tr>
          <td></td>
          <td>Limpieza con agua a presión en exteriores</td>
        </tr>
        <tr>
          <td></td>
          <td>Químicos ecológicos</td>
        </tr>
        <tr>
          <td></td>
          <td>Aspiradora a base de agua para eliminación de ácaros en colchones</td>
        </tr>
        <tr>
          <td></td>
          <td>Limpieza bajo muebles</td>
        </tr>
        <tr>
          <td></td>
          <td>Limpieza de vidrios por dentro y por fuera</td>
        </tr>
        <tr>
          <td></td>
          <td>Descochambrar estufa y alrededores</td>
        </tr>
      </table>
    </section>

    <section id="profunda">
      <table class="table table-striped">
        <tr>
          <td>El servicio incluye</td>
          <td>El servicio excluye</td>
        </tr>
        <tr>
          <td>Personal capacitado para limpieza</td>
          <td>*Lavado y planchado de ropa</td>
        </tr>
        <tr>
          <td>Supervisor asignado remotamente</td>
          <td>Limpieza de roperos y closets</td>
        </tr>
        <tr>
          <td>Uniformes</td>
          <td>Limpiar áreas de la casa como vidrios por fuera y por dentro a más de 2.5m de altura</td>
        </tr>
        <tr>
          <td>Comida del Handy (por cuenta del handy)</td>
          <td>Mover o desplazar objetos pesados (muebles, estufas, refrigeradores, etc.)</td>
        </tr>
        <tr>
          <td>Barrido/aspirado de pisos</td>
          <td>*Preparar o servir comida</td>
        </tr>
        <tr>
          <td>Trapeado de pisos</td>
          <td>Trabajo de jardinería, pintura, plomería, eléctricos, etc</td>
        </tr>
        <tr>
          <td>Desempolvar muebles, <strong>objetos y adornos</strong></td>
          <td>Lavado de alfombras, sillones, cortinas, etc</td>
        </tr>
        <tr>
          <td>Lavar platos, <strong>cubiertos, vasos, ollas y sartenes</strong></td>
          <td>Regar o arreglar plantas.</td>
        </tr>
        <tr>
          <td>Separar basura, colocarla en depósitos (no cascajo u objetos pesados) y cambiar las bolsas de los botes</td>
          <td>Quitar sarro de baños, lavabos, llaves, regaderas y azulejos</td>
        </tr>
        <tr>
          <td>Limpieza bajo muebles (fáciles de mover)</td>
          <td>Limpiar paredes (pequeñas manchas)</td>
        </tr>
        <tr>
          <td>Limpieza de vidrios por dentro y por fuera</td>
          <td>Aplicaciones en muebles (aerosoles, ceras anti polvo, etc)</td>
        </tr>
        <tr>
          <td>Descochambrar estufa y alrededores</td>
          <td>Químicos</td>
        </tr>
        <tr>
          <td>Revisión del personal al salir de casa</td>
          <td>Herramientas de limpieza</td>
        </tr>
        <tr>
          <td></td>
          <td>Sanitación con químicos germicidas (cocinas, baños, etc.)</td>
        </tr>
        <tr>
          <td></td>
          <td>Limpieza de vapor en áreas criticas</td>
        </tr>
        <tr>
          <td></td>
          <td>Limpieza con agua a presión en exteriores</td>
        </tr>
        <tr>
          <td></td>
          <td>Químicos ecológicos</td>
        </tr>
        <tr>
          <td></td>
          <td>Aspiradora a base de agua para eliminación de ácaros en colchones</td>
        </tr>        
      </table>
    </section>

    <section id="temporada">
      <table class="table table-striped">
        <tr>
          <td>El servicio incluye</td>
          <td>El servicio excluye</td>
        </tr>
        <tr>
          <td>Personal capacitado para limpieza</td>
          <td>*Lavado y planchado de ropa</td>
        </tr>
        <tr>
          <td>Supervisor asignado remotamente</td>
          <td>Limpieza de roperos y closets</td>
        </tr>
        <tr>
          <td>Uniformes</td>
          <td>Limpiar áreas de la casa como vidrios por fuera y por dentro a más de 2.5m de altura</td>
        </tr>
        <tr>
          <td>Comida del Handy (por cuenta del handy)</td>
          <td>Mover o desplazar objetos pesados (muebles, estufas, refrigeradores, etc.)</td>
        </tr>
        <tr>
          <td>Barrido/aspirado de pisos</td>
          <td>*Preparar o servir comida</td>
        </tr>
        <tr>
          <td>Trapeado de pisos</td>
          <td>Trabajo de jardinería, pintura, plomería, eléctricos, etc</td>
        </tr>
        <tr>
          <td>Desempolvar muebles, objetos y adornos</td>
          <td>Lavado de alfombras, sillones, cortinas, etc</td>
        </tr>
        <tr>
          <td>Lavar platos, cubiertos, vasos, ollas y sartenes</td>
          <td>Regar o arreglar plantas.</td>
        </tr>
        <tr>
          <td>Separar basura, colocarla en depósitos (no cascajo u objetos pesados) y cambiar las bolsas de los botes</td>
          <td></td>
        </tr>
        <tr>
          <td>Limpieza bajo muebles (fáciles de mover)</td>
          <td></td>
        </tr>
        <tr>
          <td>Limpieza de vidrios por dentro y por fuera</td>
          <td></td>
        </tr>
        <tr>
          <td>Descochambrar estufa y alrededores</td>
          <td></td>
        </tr>
        <tr>
          <td>Quitar sarro de baños, lavabos, llaves, regaderas y azulejos</td>
          <td></td>
        </tr>
        <tr>
          <td>Limpiar paredes (pequeñas manchas)</td>
          <td></td>
        </tr>
        <tr>
          <td>Aplicaciones en muebles (aerosoles, ceras anti polvo, etc)</td>
          <td></td>
        </tr>
        <tr>
          <td>Químicos</td>
          <td></td>
        </tr>
        <tr>
          <td>Herramientas de limpieza</td>
          <td></td>
        </tr>
        <tr>
          <td>Sanitación con químicos germicidas (cocinas, baños, etc.)</td>
          <td></td>
        </tr>
        <tr>
          <td>Limpieza de vapor en áreas criticas</td>
          <td></td>
        </tr>
        <tr>
          <td>Limpieza con agua a presión en exteriores</td>
          <td></td>
        </tr>
        <tr>
          <td>Químicos ecológicos</td>
          <td></td>
        </tr>
        <tr>
          <td>Aspiradora a base de agua para eliminación de ácaros en colchones</td>
          <td></td>
        </tr>
        <tr>
          <td>Revisión del personal al salir de casa</td>
          <td></td>
        </tr>
      </table>
    </section>
    <!-- End Limpieza del Hogar -->

    <!-- Start Coninar y Ornear -->
    <section id="corrida">
      <h3>Características:</h3>
      <br />
      <p>
        Comida cotidiana y fácil de elaborar. Los primeros dos tiempos y guarniciones son elaborados principalmente a base de enlatados, instantáneos y precocidos; el tercer tiempo es preparado principalmente con  ingredientes de rápida cocción/preparación. Entre 1:30 y 2:30 hrs en tiempo de preparación  (Puede ser más/menos tiempo dependiendo del número de personas y días para los que se cocina).
      </p>
      <br />
      <h3>Descripción del menú en 3 tiempos:</h3>
      <br />
      <p>
        1. Entrada caldosa (sopa, crema, consomé)<br />
        2. Plato seco (arroz, ensalada, pasta)<br />
        3. Plato fuerte (guisado con una guarnición)<br />
        4. Agua de sabor
      </p>
      <br />
      <h3>El servicio incluye:</h3>
      <br />
      <ul>
        <li>Personal capacitado para la preparación</li>
        <li>Supervisor asignado remotamente</li>
        <li>Uniforme</li>
        <li>Preparación de la comida</li>
        <li>Lavado de utensilios a usar/usados</li>
        <li>Servir la mesa</li>
        <li>Revisión del personal al salir de casa</li>
      </ul>
    </section>

    <section id="elaborada">
      <h3>Características:</h3>
      <p>Comida más elaborada y artesanal. Se usan enlatados para guarniciones principalmente pero en general los ingredientes son más frescos y  de cocción/preparación más lenta. Se combinan más ingredientes en los platillos y se implementan técnicas culinarias de estofado, horneado, marinado, empapelados, etc. Entre 3:00 y 4:30 hrs en tiempo de preparación  (Puede ser más/menos tiempo dependiendo del número de personas y días para los que se cocina).</p>
      <br />
      <h3>Descripción del menú en 3 tiempos:</h3>
      <br />
      <p>
        1. Entrada caldosa (sopa, crema, consomé)<br />
        2. Plato seco (arroz, ensalada, pasta)<br />
        3. Plato fuerte (platillo con dos guarniciones)<br />
        Agua de sabor
      </p>
      <br />
      <h3>El servicio incluye:</h3>
      <br />
      <ul>
        <li>Personal capacitado para la preparación</li>
        <li>Supervisor asignado remotamente</li>
        <li>Uniforme</li>
        <li>Preparación de la comida</li>
        <li>Lavado de utensilios a usar/usados</li>
        <li>Servir la mesa</li>
        <li>Revisión del personal al salir de casa</li>
      </ul>
    </section>

    <section id="especial">
      <h3>Características:</h3>
      <br />
      <p>Comida más inusual, algunos ingredientes solo están disponibles por temporada o algunos platillos carecen de oferta popular. Se elaboran los platillos de acuerdo a las necesidades de los usuarios. Ya sea por temporada (ej. chiles en nogada), por festividad (ej. navidad), por tipo de persona (ej. bebé), por ocasión (cumpleaños) o porque requiera características especiales durante la preparación (ej. al vapor). Son platillos que requieren atenciones especiales en su elaboración. La preparación es de tiempo variable según necesidad y número de personas para las que se cocina.
      </p>
      <br />
      <h3>Descripción del menú:</h3>
      <br />
      <p>Existen tantas variables como necesidades de los usuarios, por lo que el menú es flexible y muy adaptable.</p>
      <br />
      <h3>El servicio incluye:</h3>
      <br />
      <ul>
        <li>Personal capacitado para la preparación</li>
        <li>Supervisor asignado remotamente</li>
        <li>Uniforme</li>
        <li>Preparación de platillo(s) solicitado(s)</li>
        <li>Lavado de utensilios a usar/usados</li>
        <li>Servir la mesa</li>
        <li>Revisión del personal al salir de casa</li>
      </ul>
    </section>
    <!-- End Coninar y Ornear -->
  </div>
  <div class="modal-footer"></div>
</div>