<%= javascript_include_tag 'preferences' %>
<div class="container-body preferences">
  <section id="recommendation">
    <div class="sidebar logo">
      imagen
    </div>
    <div class="sidebar text">
      recomendaciones
    </div>
  </section>
  <section id="preferences">
    <ul>
      <li class="helper" name="regular" >regular</li>
      <li class="helper" name="profunda" >profunca</li>
      <li class="helper" name="temporada" >temporada</li>
      <li class="helper" name="corrida" >corrida</li>
      <li class="helper" name="elaborada" >elaborada</li>
      <li class="helper" name="especial" >especial</li>
    </ul>
  </section>
  <section>

  </section>
</div>
<div class="popup">
  <%= render partial: "shared/popup" %>
</div>