<%= javascript_include_tag 'preferences' %>
<pre>
	<%= @user.inspect  %>
</pre>
<div class="container-body preferences">
  <%= render 'form' %>
  <div class="popup">
    <%= render partial: "shared/popup" %>
  </div>
</div>
