<%= javascript_include_tag 'preferences' %>
<div class="container-body preferences">
  <% if @user.prefer == 'oficios' %>
    <%= render 'form' %>
  <% else %>
    <%= render 'form_profesion' %>
  <% end %>
  <div class="popup">
    <%= render partial: "shared/popup" %>
  </div>
</div>
