// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

select.category-title {
  font-size: 18px; font-size: 1.8rem; /* = 18px */
  width: 18em;
  height: 28px;
  outline: none;
  color: #006b85;
  text-transform:uppercase;
  border: none;
  background-color: transparent;
  box-shadow: none;
  margin-bottom:10px;
}

.notIE label.category-title:after {
  content: '';
  width: 25px;
  height: 20px;
  position: absolute;
  display: inline-block;
  top: 4px;
  right: 3px;
  background: url(/images/green-select-button_25x20.png) no-repeat left center white;
  pointer-events: none;
}
div.job {
  margin-left:30px;
  background-repeat:no-repeat;
  width:686px;
  height:135px;
  background-position:0;
}
div.job.logo.publish {
  background: url(/images/logo_221x75.png) no-repeat;
  width:221px;
}
div.clickable.new {
  background: url(/images/publish_button_191x48.png) no-repeat;
  width:191px;
  height:48px;
  float:right;
  margin-top:-50px;
}
div.clickable.choose {
  background: url(/images/choose_button_159x48.png) no-repeat;
  width:159px;
  height:48px;
  float:right;
  margin-top:20px;
}
div.job.logo {
  background-image:url(/images/header_686x135.png);
}
body.jobs > div.container > form {
  padding-top:0px;
  div.actions {
    input[type="submit"]
    {
      background-image:url(/images/add_button_196x48.png);
      width:196px;
      height:48px;
      border:none;
      margin-top:20px;
    }
  }
}
body.jobs form {
  a {
    text-decoration:underline;
    color:#006b85;
    cursor:pointer;
  }
  a:hover {
    background-color:transparent;
  }
}
body.jobs form > section {
  position:relative;
  padding:40px;
  margin:0px;
  border-top:1px solid #b0b0b0;
  background: url(/images/section_bg_28x1.png) repeat-y top left;
  div#map-canvas {
    margin-top:20px;
    width:420px;
    height:420px;
    display:none;
  }
  div.field {
    div.notIE {
      float:left;
      padding-right:20px;
    }
    small {
      float:right;
      width:130px;
      text-align:right;
      background-image:url(/images/nota_52x13.png);
      background-repeat:no-repeat;
      background-position: top right;
      padding-top:20px;
      font-size: 12px; font-size: 1.2rem; /* = 12px */
      color:#bababa;
    }
    div.show {
      color:#006b85;
      text-decoration:underline;
      cursor:pointer;
    }
    input.email {
      width:290px;
    }
  }
  div.field.when {
    select {
      width:100px;
    }
  }
  div.icon {
    position:absolute;
    background: url(/images/pin_28x27.png) no-repeat top left;
    width:28px;
    height:27px;
    top:100px;
    left:0px;
  }
  div.icon.levels {
    background: url(/images/pin_28x27.png) no-repeat top left;
    top:100px;
  }
  div.icon.map {
    background: url(/images/map_28x27.png) no-repeat top left;
    top:60px;
  }
  div.icon.calendar {
    background: url(/images/calendar_28x27.png) no-repeat top left;
    top:55px;
  }
  div.icon.money {
    background: url(/images/money_28x27.png) no-repeat top left;
    top:60px;
  }
  div.icon.edit {
    background: url(/images/edit_28x29.png) no-repeat top left;
    top:80px;
  }
}
/*
 * Listing Styles
 */
section#listing {
  h1 {
    font-size: 18px; font-size: 1.8rem; /* = 18px */
    color:#006b85;
    width:130px;
    line-height:21px; line-height: 2.1rem;
    padding:10px 10px 0px 10px;
  }
  div.items {
    width:550px;
    height:100%;
    div.item {
      clear:both;
      cursor:pointer;
      p {
        padding:10px 10px 0px 10px;
        text-transform:uppercase;
        float: left;
        color:#006b85;
        a {
          font-size: 12px; font-size: 1.2rem; /* = 18px */
          color:#006b85;
        }
      }
      p.title {
        border:1px solid #acaeae;
        background: #e6e6e6 url(/images/marker_open_13x14.png) no-repeat 95% 50%;
        width:385px;
        height:28px;
        a:active,
        a:link,
        a:visited,
        a:hover {
          font-size: 14px; font-size: 1.4rem; /* = 14px */
          background-color:transparent;
          color:#006b85;
        }
      }
      p.offer {
        background: transparent url(/images/offer_border_102x42.png) no-repeat;
        width:100px;
        height:40px;
        text-align:center;
      }
    }
    div.item.wrapper {
      p {
        color:#393a45;
        text-transform:none;
        font-size: 13px; font-size: 1.3rem; /* = 13px */
      }
      display:none;
      position:relative;
      padding:10px;
      width:485px;
      background-color:#EEE;
      min-height:220px;
      border:1px solid #afb3b4;
      cursor:inherit;
      div.left.content {
        width:210px;
        div.map {
          text-decoration:underline;
          color:#006b85;
          position:absolute;
          bottom:20px;
          padding-left:10px;
          cursor:pointer;
        }
      }
      div.right.content {
        width:270px;
        p {
          float:none;
          text-align:right;
        }
        div.clickable.choose {
          position:absolute;
          bottom:20px;
          right:20px;
        }
      }
    }
  }
  div#single-map-canvas.right {
    border:1px solid #000;
    margin:0px 20px 0px 0px;
    width:430px;
    height:630px;
    display:none;
  }
}