// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

select.category-title {
  font-size: 18px; font-size: 1.8rem; /* = 18px */
  width: 18em;
  height: 28px;
  outline: none;
  color: #006b85;
  text-transform:uppercase;
  border: none;
  background-color: transparent;
  box-shadow: none;
  margin-bottom:10px;
}

.notIE label.category-title:after {
  content: '';
  width: 25px;
  height: 20px;
  position: absolute;
  display: inline-block;
  top: 4px;
  right: 3px;
  background: url(/images/green-select-button_25x20.png) no-repeat left center white;
  pointer-events: none;
}
section.job.logo {
  margin-left:30px;
  background-image:url(/images/header_686x135.png);
  background-repeat:no-repeat;
  width:686px;
  height:135px;
  background-position:0;
}
body.jobs > div.container > form {
  padding-top:0px;
  div.actions {
    input[type="submit"]
    {
      background-image:url(/images/add_button_196x48.png);
      width:196px;
      height:48px;
      border:none;
      margin-top:20px;
    }
  }
}
body.jobs form > section {
  position:relative;
  padding:40px;
  margin:0px;
  border-top:1px solid #b0b0b0;
  background: url(/images/section_bg_28x1.png) repeat-y top left;
  div.field {
    div.notIE {
      float:left;
      padding-right:20px;
    }
    small {
      float:right;
      width:130px;
      text-align:right;
      background-image:url(/images/nota_52x13.png);
      background-repeat:no-repeat;
      background-position: top right;
      padding-top:20px;
      font-size: 12px; font-size: 1.2rem; /* = 12px */
      color:#bababa;
    }
  }
  div.field.when {
    select {
      width:100px;
    }
  }
  div.icon {
    position:absolute;
    background: url(/images/pin_28x27.png) no-repeat top left;
    width:28px;
    height:27px;
    top:100px;
    left:0px;
  }
  div.icon.levels {
    background: url(/images/pin_28x27.png) no-repeat top left;
    top:100px;
  }
  div.icon.map {
    background: url(/images/map_28x27.png) no-repeat top left;
    top:60px;
  }
  div.icon.calendar {
    background: url(/images/calendar_28x27.png) no-repeat top left;
    top:55px;
  }
  div.icon.money {
    background: url(/images/money_28x27.png) no-repeat top left;
    top:60px;
  }
  div.icon.edit {
    background: url(/images/edit_28x29.png) no-repeat top left;
    top:80px;
  }
}
