// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: Bitter;
  src: url('/assets/Bitter-Regular.otf');
}
/*
 * Listing Styles
 */
 div.container{
  background-color: #f6f6f6;
 }
section#listing {
  h1 {
    font-size: 18px; font-size: 1.8rem; /* = 18px */
    color:#006b85;
    width:130px;
    line-height:21px; line-height: 2.1rem;
    padding:10px 10px 0px 10px;
  }
  div.items {
    width:550px;
    height:100%;
    div.item {
      clear:both;
      cursor:pointer;
      p {
        padding:10px 10px 0px 10px;
        text-transform:uppercase;
        float: left;
        color:#006b85;
        a {
          font-size: 12px; font-size: 1.2rem; /* = 18px */
          color:#006b85;
        }
      }
      p.title {
        position:relative;
        border:1px solid #acaeae;
        background: #e6e6e6 url(/images/marker_open_13x14.png) no-repeat 95% 50%;
        width:385px;
        height:28px;
        a:active,
        a:link,
        a:visited,
        a:hover {
          font-size: 14px; font-size: 1.4rem; /* = 14px */
          background-color:transparent;
          color:#006b85;
        }
        strong {
          position:absolute;
          color:#000;
          right:50px;
          text-transform:none;
        }
      }
      p.offer {
        background: transparent url(/images/offer_border_102x42.png) no-repeat;
        width:100px;
        height:40px;
        text-align:center;
      }
    }
    div.item.wrapper {
      p {
        color:#393a45;
        text-transform:none;
        font-size: 13px; font-size: 1.3rem; /* = 13px */
      }
      display:none;
      position:relative;
      padding:10px;
      width:485px;
      background-color:#EEE;
      min-height:220px;
      border:1px solid #afb3b4;
      cursor:inherit;
      div.left.content {
        width:210px;
        div.map {
          text-decoration:underline;
          color:#006b85;
          position:absolute;
          bottom:20px;
          padding-left:10px;
          cursor:pointer;
        }
      }
      div.right.content {
        width:270px;
        p {
          float:none;
          text-align:right;
        }
        div.clickable.choose {
          position:absolute;
          bottom:20px;
          right:20px;
        }
      }
    }
  }
  div#single-map-canvas.right {
    border:1px solid #000;
    margin:0px 20px 0px 0px;
    width:430px;
    height:630px;
    display:none;
  }
}
/*############################*/
/*Start button*/
div.clickable.new {
  background: url(/images/publish_button_191x48.png) no-repeat;
  width:191px;
  height:48px;
  float:right;
  margin-top:-50px;
}

div#gn-new-job {
  .button {
    width: 206px;
    height: 48px;    
    border: 0;
    cursor: pointer;
  }
  .button.change-category {
    background: url("/images/changeCategory_button_196x48.png") no-repeat 0 0;
  }
  .button.change-category.active {
    background-position: 0 -48px;
  }
  .button.submit {
    background: url("/images/add_button_196x48.png") no-repeat 0 0;
    width:196px;
  }
  .button.submit {
    background: url("/images/add_button_196x48.png") no-repeat 0 0;
    width:196px;  
  }
  .toggle-btn.active{
    color: #333333;
    background-image: -moz-linear-gradient(top, #e5e5e5, #f8f8f8);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e5e5e5), to(#f8f8f8));
    background-image: -webkit-linear-gradient(top, #e5e5e5, #f8f8f8);
    background-image: -o-linear-gradient(top, #e5e5e5, #f8f8f8);
    background-image: linear-gradient(to bottom, #e5e5e5, #f8f8f8);
    border: 1px solid #96c0ca;
    box-shadow:             inset 0px 1px 4px #adaeae, 0 0px 3px #96c0ca;
    -moz-box-shadow:        inset 0px 1px 4px #adaeae, 0 0px 3px #96c0ca;
      -webkit-box-shadow:   inset 0px 1px 4px  #adaeae, 0 0px 3px #96c0ca;
  }
  .toggle-btn{
    display: inline-block;
        *display: inline;
    padding: 5px 20px 8px;
    margin-bottom: 0;
        *margin-left: .3em;
    font-size: 13px;
    line-height: 20px;
    color: #4b525f; 
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #ffffff;
        background-image: -moz-linear-gradient(top, #ffffff, #e5e5e5);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e5e5e5));
        background-image: -webkit-linear-gradient(top, #ffffff, #e5e5e5);
        background-image: -o-linear-gradient(top, #ffffff, #e5e5e5);
        background-image: linear-gradient(to bottom, #ffffff, #e5e5e5);
        background-repeat: repeat-x;
    border: 1px solid #b2b3b3;
        *border: 0;
    border-color: #eaeaea #eaeaea #b2b3b3;
    border-bottom-color: #b2b3b3;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    box-shadow:             0px 1px 3px #b2b3b3;
    -moz-box-shadow:        0px 1px 3px #b2b3b3;
      -webkit-box-shadow:   0px 1px 3px  #b2b3b3;
  }
  .close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
  }

  label.checkbox {
    content: "";
  }
  .icon {
    background: url("/images/sprite_icons.png") no-repeat 0 0;
    cursor: pointer;
  }
  .icon.padlock {
    background-position: -140px -35px;
    background-repeat: no-repeat;
    width: 8px;
    height: 12px;
    display: inline-block;
  }
  .icon.guides {
    background-position: -70px 0;
    height: 24px;
    width: 23px;
  }
  .icon.security {
    background-position: -70px -70px;
    height: 24px;
    width: 23px;
  }
  .icon.features {
    background-position: -70px -105px;
    height: 24px;
    width: 23px;
  }
  .icon.notes {
    background-position: -140px 0;
    height: 20px;
    width: 20px;
  }
  .icon.guides.small {
    background-position: -70px -35px;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0 19px 0 10px;
  &:hover{
    background-position: -105px -35px;
    }
  }
  .icon.section.levels{
    background-position: 0 0;
  }
  .icon.section.levels.active{
    background-position: -35px 0;
  }
  .icon.section.calendar {
    background-position: 0 -35px;
  }
  .icon.section.calendar.active {
    background-position: -35px -35px;
  }
  .icon.section.map {
    background-position: 0 -70px;
  }
  .icon.section.map.active {
    background-position: -35px -70px;
  }
  .icon.section.money {
    background-position: 0 -105px;
  }
  .icon.section.money.active {
    background-position: -35px -105px;
  }
  .icon.checkbox {
    background: url("/images/check_button.png") no-repeat 0 0;
    display: inline-block;
    height: 20px;
    width: 20px;
  }
  .icon.checkbox.checked {
    background-position: 0 -30px;
  }
  .icon.radio {
    background: url("/images/radio_button.png") no-repeat 0 0;
    height: 18px;
    width: auto;
  }
  .icon.radio + .icon.radio{
    margin-top: 20px;
  }
  .ubicacion{
    .icon.radio {
      width: 240px;      
      float:left;
      margin-bottom: 10px;     
    }
    .icon.radio + .icon.radio {
        margin-top: 0;
    }
    input.direccion {
      width: 378px;
    }
  }
  .icon.radio.checked {
    background-position: 0 -30px;
  }
  .icon.radio.smaller {
    width: auto;
    margin: 0 10px;
    input[type="radio"]{
      position: absolute;
    }
  }
  .icon.category.cook-task {
    background: url("/images/headerIcons_cook.png") no-repeat 0 0;
    background-position: 0 2px;
  }
  .icon.category.home-task {
    background: url("/images/sprite_headerIcons.png") no-repeat 0 0;
    background-position: 0 12px;
  }
}
/*End button*/

/*Start input*/

div#gn-new-job textarea, .textarea,
div#gn-new-job input[type="text"],
div#gn-new-job input[type="password"],
div#gn-new-job input[type="datetime"],
div#gn-new-job input[type="datetime-local"],
div#gn-new-job input[type="date"],
div#gn-new-job input[type="month"],
div#gn-new-job input[type="time"],
div#gn-new-job input[type="week"],
div#gn-new-job input[type="number"],
div#gn-new-job input[type="email"],
div#gn-new-job input[type="url"],
div#gn-new-job input[type="search"],
div#gn-new-job input[type="tel"],
div#gn-new-job input[type="color"],
div#gn-new-job .uneditable-input {
  background-color: #ffffff;
  border: 1px solid #b3b3b3;
      border-bottom-color: #f3f3f3;
      border-left-color: #d6d6d6;
      border-right-color: #d6d6d6;        
  box-shadow: inset 0 1px 2px #d4d4d4;
  -moz-box-shadow: inset 0 1px 2px #d4d4d4;
      -webkit-box-shadow: inset 0 1px 2px #d4d4d4;
  display: inline-block;
  height: 20px;
  padding: 6px 10px 7px;
  font-size: 12px;
  line-height: 20px;
  color: #8e8e8e;
  vertical-align: middle;
      -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Bitter', serif;
  resize: none;
  background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top, #efefef 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #efefef 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #efefef 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #efefef 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #efefef 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
/*End input*/
div#gn-new-job {
  font-family: 'Bitter',serif;    
  margin: 0 auto;
  padding: 0;
  width: 1020px;
  position: relative;
  section.active{
    background: url(/images/section_bgGreen_28x1.png) repeat-y top left !important;
  }
  .gn-form-header select{
    box-shadow: inset 1px 1px 2px #ddd8dc;
    background: none;
  }
  select {
    background-color: transparent;
    border: 1px solid #C8BFC4;
    border-radius: 4px;  
    color: #A0A0A0;
    display: inline-block;
    height: 28px;
    outline: medium none;
    padding: 4px 28px 5px 5px;
    width: auto;
    box-shadow: none;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#ebebeb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#ebebeb 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#ebebeb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
    margin: 0;  
  }
  select.wider {
    width: 250px;
  }
  p, ol, ul, td, strong, h1{
    font-family: 'Bitter',serif;    
  }
  strong {
    font-weight: bold;
  }
  input[type=checkbox], input[type="radio"]{
    visibility: hidden;
  }
  textarea{
    /*display: none;*/
    width: 563px;
    height: 55px;
  }
  textarea.mainTextarea{
    height: 96px;
  }
  a{
    outline: 0 none;
  }
  label{
    content: "";
  }
  form#gn-new-job-form-cook-task{
    display: none;
  }
  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
  .label-field{
    margin-right: 15px;
    padding-top: 6px;
  }
  .label-field-taller{
    margin-bottom: 10px;
    float: none;
  }
  .label-field + .label-highlight{
    margin-top: 7px;
  }
  .label-field + textarea {
      margin-top: 12px;
  }  
  .label-highlight{
    color: #006B85;
    cursor: pointer;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 8px;
    &.selected{
      color: #A0A0A0;
    }
    &+ .label-highlight{
      margin-left: 40px;
    }    
  }
  div#container-form {
    float: left;
    width: 728px;
    header.gn-form-header{
      background: transparent;
      margin: 0 21px 0 31px;
      height: auto;
      .button.change-category {
        float: right;
        margin-top: 46px;
      }
      select.category-title {
        font-size: 18px; font-size: 1.8rem; /* = 18px */
        width: 18em;
        height: 28px;
        outline: none;
        color: #006b85;
        text-transform:uppercase;
        border: none;
        background-color: transparent;
        box-shadow: none;
        margin-bottom:10px;
      }
      .icon.category.home-task, .icon.category.cook-task {
        display: inline-block;
        padding: 68px 0 0 65px;
      }
      .notIE label.category-title:after {
        content: '';
        width: 25px;
        height: 20px;
        position: absolute;
        display: inline-block;
        top: 4px;
        right: 3px;
        background: url(/images/green-select-button_25x20.png) no-repeat left center #f6f6f6;
        pointer-events: none;
      }
    }
    section {
      position:relative;
      padding: 24px 0px 24px 34px;
      margin: 0 21px 0 31px;      
      background: url(/images/section_bg_28x1.png) repeat-y top left;
      .icon.section {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -13px;
        height: 27px;
        width: 28px;
      }
      .field.ubicacion {
        .textarea{
          p {
          margin: 0;
          }
        }
      }
      .field.ubicacion{
        margin-bottom: 20px;
        p {
          margin: 14px 0 0 0;
        }     
      }
      .field {
        margin-left: 34px;
        margin-bottom: 27px;
        .textCombo {
          margin-top: 5px;
          background-color: #EFEFEF;
          border: 1px solid #D7DCE0;
          padding: 23px 15px;
          width: 553px;
          .textarea {            
            p {
              margin: 0;
            }
            width: 530px;
            textarea {
              height: 70px;
              width: 530px;
            }
          }
          .cheknote {
            float: none;
            margin: 18px 0;
          }
          ul.linedInputs{
            display: inline-block;
            li {
              float: left;    
              .label-field, input {
                float: none;
              }
              .label-field{
                padding-top: 0;
              }
              input.peso{
                width: 50px;
              }
              input.medida{
                width: 171px;
              }
            }
            li:first-child{
              padding-right: 14px;
            }
          }
        }
        .label-field-taller {
          margin-bottom: 10px;
          float: none;
          display: block;
        }
        ul.twoTextareas{
          li {
            display: inline-block;
            width: 266px;
            label {
              margin-right: 0;
            }
            textarea{
              width: 244px;
            }
          }
          li:first-child{
            margin-right: 45px;
          }
        }
        label{
          float: left;
        }        
        div.notIE {
          float: left;
          padding-right: 20px;
        }
        /*Time selects*/
        .gn-job-time{
          margin-left: 106px;
          .label-field {
              padding-top: 5px;
          }
          div.notIE {
            padding: 0;
            select{
              padding-right: 10px;
            }
          }
          #gn-checkbox-repeat-task {
            margin-left: 16px;            
            .icon {
              margin: 0;
            }
          } 
        }
        .icon {
          label{
            margin-left: 25px;
          }
        }
        &.last{
          margin-bottom: 0;
        }
        .tituloTarea{
          min-width: 378px;
        }
        .textarea{
          height: auto;
          textarea {
            padding: 0;
            border: 0;
            height: 110px;
            background: none;
            box-shadow: none;
          }
        }
        .dragAndDrop{
          background-color: #D7DCE0;
          padding: 5px 8px;
          p {
            color:#4B525F;
            border: 1px dashed #979A9D;
            text-align: center;
            border-radius: 5px;
            padding: 5px;
            a {
              color: #006B85;              
            }
          }
        }
      }
      small {
        display: inline-block;
        background-image:url(/images/nota_8x13.png);
        background-repeat:no-repeat;
        background-position: top left;
        padding-left:20px;
        font-size: 12px; font-size: 1.2rem; /* = 12px */
      }
    }
    section.gn-sub-form-tasktype {
      h4{
        margin: 8px 0;
        font-size: 13px;
      }
      p.note{
        font-size: 12px;
        color: #A0A0A0;
        margin: 12px 0;
      }
      li{
        display: inline-table;
      }
      li > span, li > div, li > label{
        vertical-align: middle;
      }
      .textCombo{
        width: 490px;
        ul { 
          float: left;
          padding-left: 15px;
          margin-right: 25px;     
          li {
            display: list-item;
            font-size: 12px;
            line-height: 22px;
            list-style: initial;
          }
        }
        ul:last-child{
          margin-right: 0;
        }
      }
    }
    section.gn-sub-form-description {
      padding-bottom: 1px;
      padding-top: 28px;
      .label-field {
        padding-top: 6px;
        width: auto;
        margin-right: 20px;
      }
      li {
        display: inline-block;
      }
      select {
        width: 130px;
      }
      .field div.notIE {
        float: left;
        padding-right: 20px;
      }
      .clear{
        margin-bottom: 16px;
      }
      & > .clear {
        margin-bottom: 22px;
      }
      .field{
        margin-bottom: 20px;
      }
      & > .field{
        margin-bottom: 28px;
      }     
      .icon.radio {
        margin-right: 8px;
        float: left;
      }
      .icon.guides.small {
        margin-left: 10px;
        margin-right: 10px;        
      }
      .toggle-btn{
        padding: 5px 8px 8px;
      }
    }
    section.gn-sub-form-when {
      label{
        width: auto;
      }
      label.text-label{
        text-align: right;
        width: 154px;
      }
      label#gn-checkbox-repeat-task{
        float: left;
        margin-left: 18px;
      }
      .close{
        float: left;
        display: none;
      }
      .clear{
        margin-bottom: 20px;
      }      
      div.field[name=job_repeat_task_date], .job_repeat_task_date_input {
        display: none;  
      }
      #job_require_cleaning, .job_repeat_task_date{
        width: 120px;
        margin-left: 10px;
      }
      div[name=job_when_date_other]{
        display: none;
      }
      .job_when_date_other, .job_repeat_task_date_input input{
        margin-left: 10px;
        width: 132px;
        border: 1px solid #C8BFC4;
        height: 13px;
      }      
      select.job_when_date{
        margin-left: 10px;
        width: 132px;
      }
      .job_repeat_task{
        visibility: hidden;
      }
      #job_when_hr, #job_when_min, #job_when_meridian{
        width: 60px;
      }
      #job_when_min, #job_when_meridian{
        border-left: none;
        border-left-color: transparent;
      }
      #job_when_hr{
        border-radius: 4px 0 0 4px;
      }
      #job_when_min{
        border-radius: 0;
      }
      #job_when_meridian{
        border-radius: 0 4px 4px 0;
      }
      .gn-job-time .notIE {
        padding-right: 0;
      }
      div.notIE[name=job_when_date_other]{
        padding-right: 0;
      }
    }
    section.gn-sub-form-where{
      padding-top: 30px;
      padding-bottom: 30px;
      label{
        /*margin-left: 14px;*/
        width: auto;
      }
      input[type=text]{
        float: left;
        width: 378px;
      }
      input.codigoPostal {
        width: 110px;
      }
      div.label-highlight{
        display: inline-block;
        margin-right: 16px;
        margin-top: 10px;
      }
      div[gn="gn-use-my-address"] {
        display: none;
      }
    }
    section.gn-sub-form-money{
      padding-top: 26px;
      padding-bottom: 22px;
      #job_offer{
        margin-right: 32px;
        width: 80px;
      }
      .job-flash{
        color: #006b85;
        background-color: #f1f1f1;
        border: 1px solid #c9c9c9;
        box-shadow:             inset 0px 0px 2px #ffffff, 0 0px 5px #ccdf93;
        -moz-box-shadow:        inset 0px 0px 2px #ffffff, 0 0px 5px #ccdf93;
        -webkit-box-shadow:   inset 0px 0px 2px #ffffff, 0 0px 5px #ccdf93; 
        font-size: 13px;
        font-weight: bold;
        line-height: 20px;
        display: inline-block;
        padding: 5px 10px 7px;
        text-align: center;
        vertical-align: middle;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        width: 138px;
      }
      .nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
        content: "";
        display: table;
        line-height: 0;
      }
      .nav-tabs:after, .nav-pills:after {
        clear: both;
      }
      .nav-tabs {
        background-color: #f2f2f2;
        width: 436px;
        border-bottom: 1px solid #BBBBBB;
        border-left: 1px solid #BBBBBB;
        li{
          float: left;
          margin-bottom: -1px;
          a{
            display: block;
            text-decoration: none;
            padding-right: 12px;
            padding-left: 12px;
            padding-top: 8px;
            padding-bottom: 8px;
            line-height: 20px;
            cursor: pointer;
            background: #f2f2f2; /* Old browsers */
              background: -moz-linear-gradient(top, #f2f2f2 0%, #e6e6e6 100%); /* FF3.6+ */
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
              background: -webkit-linear-gradient(top, #f2f2f2 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
              background: -o-linear-gradient(top, #f2f2f2 0%,#e6e6e6 100%); /* Opera 11.10+ */
              background: -ms-linear-gradient(top, #f2f2f2 0%,#e6e6e6 100%); /* IE10+ */
              background: linear-gradient(to bottom, #f2f2f2 0%,#e6e6e6 100%); /* W3C */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
            border-top: 1px solid #9a9ea5;
            border-right: 1px solid #9a9ea5;
            border-bottom: 1px solid #BBBBBB;
            color: #006B85;
            &:hover{
               border-color: #BBBBBB;

            }
            &:focus{
               border-color: #BBBBBB;
            }
          }     
        }
        .active{
          a{
            border-top: 1px solid #BBBBBB;
            border-right: 1px solid #BBBBBB;
            border-bottom-color: transparent;
            background: #f2f2f2;
            &:hover{
              border-bottom-color: transparent;

            }
            &:focus{
              border-bottom-color: transparent;
            }
          }        
        }
      }
      .tab-content {
        overflow: auto;
        background-color: #F2F2F2;
        border: 1px solid #BBBBBB;
        border-top-color: transparent;
        height: 130px;
        width: 436px;
        .tab-pane{
          display: none;
        }
        .tab-pane.active{
          display: block;
        }
        span{
          margin-left: 14px;
          margin-top: 20px;
          display: block;
        }
        span.info{
          display: inline-block;
          .icon.guides.small {
            margin-bottom: -5px;
          }       
        }
        label{
          float: none;
          width: auto;
          color: #006B85;
        }
        .gn-icon.guides.small{
          margin-left: 20px;
        }
        .toggle-btn{
          margin-right: 34px;
        }
      }
      .tab-footer{
        background-color: #dedede;
        border-bottom: 1px solid #BBBBBB;
        border-left: 1px solid #BBBBBB;
        border-right: 1px solid #BBBBBB;
        text-align: center;
        width: 436px;
        height: 26px;
        padding-top: 8px;
        font-style: italic;
      }
    }
    div.actions {
      text-align: center;
      margin: 27px 0 35px;
      input[type="submit"]
      {
        background:url(/images/add_button_196x48.png);
        width:196px;
        height:48px;
        border:none;
        cursor:pointer;
      }
    }
  }
  aside.gn-sidebar {
    background: url("/images/rPanel_bg.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    font-size: 13px;
    height: 100%;
    min-height: 100%;
    width: 292px;
    background-color: #E5E5E5;
    color: #4B525F;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    section {
      background-color: #F2F2F2;
      border: 1px solid #BBBBBB;
      margin: 30px;
      padding: 25px 20px;
      h1 {
        color: #006B85;
        font-weight: bold;
        margin: 0 0 20px;
        text-transform: uppercase;
      }
      p{
        margin: 15px 0;
      }
      a{
        color: #4B525F;
        &:hover{
          background-color: transparent;
        }
      }
      h1, p, a {
        font-size: 13px;
      }
      p:last-of-type {
        margin: 0;
      }   
    }
    h1 {
      color: #006B85;
      font-size: 15px;
      font-weight: bold;
      margin: 0 30px 0 50px;
    }
    h1 + section {
      margin: 5px 30px;
    }
    section.gn-widget-show-task {
      h1{
        color: #728E2E;
      }
      li{
        cursor: pointer;
        &:hover .icon.notes {
          background-position: -175px 0;
        }
      }
      .icon.notes{
        float: left;
        padding-right: 5px;
      }
      div#gn-job-location-map {
        background-color: #FFFFFF;
        border: 1px solid #C8C8C8;
        border-radius: 2px;
        height: 200px;
        margin: 10px 0;
        width: 188px;
      }
    }
    section.gn-widget-link {
      li.last {
        margin-bottom: 0; 
      }
      li{
        margin: 0 0 25px;
        cursor: pointer;
        &:hover .icon.guides {
          background-position: -105px 0;
        }
        &:hover .icon.security {
          background-position: -105px -70px;
        }
        &:hover .icon.features {
          background-position: -105px -105px;
        }
      }      
      .icon.guides, .icon.security, .icon.features{
        float: left;
        margin: 0;
        padding: 0 10px 0 0;
      }
    }
    footer.gn-widget-private-area{
      margin: 10px 50px;
      padding: 0;
      background: transparent;
      p {
        float: left;
      }
      .checkbox {
        float: left;
      }
      .icon.guides.small {
        float: left;
        margin: 0 0 0 10px;
      }
    }
  }
}
/*#############################*/
hr {
  border-top: 1px solid #B0B0B0;
  border-bottom: 1px solid white;
  border-left: 0;
  border-right: 0;
  margin: 0 21px 0 31px
}
.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.leftmargin {
  margin-left: 15px;
}
.notaPrivada {
  margin-top: 25px;
  .label-field{
    font-style: italic;
    display: inline-block;
    font-size: 13px;
  }
}
.checkbox.label-field{
  margin-left: 14px;
}