// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo {
  background-position:0px -40px;
  width:240px;
  height:80px;
}
section#brand {
  height:137px;
  h1 {
    white-space: nowrap;
    text-indent: -9999px;
  }
  div.clickable.ingresa {
    background-position:0px -120px;
    width:240px;
    height:80px;
  }
}
section#categories {
  min-height:400px;
  div.category {
    background-position:0px -200px;
    width:340px;
    height:320px;
    img {
      margin:80px 0px 0px 100px;
    }
    h3 {
      font-size: 15px; font-size: 1.5rem; /* = 15px */
      text-align:center;
      color:#006b85;
      padding-top:20px;
    }
  }
}