<div class="container-body thank">
  <section id="thank">
    <div class="columns">
      <div class="banner-logo col"></div>
      <div class="banner-text col">
        <h1>&iexcl;Gracias por postularte <%= @user.name %>!</h1>
          <p>Te hemos enviado un mail a <%= @user.email %> con el n&uacute;mero de solicitud. Ahora s&oacute;lo tienes que esperar unos d&iacute;as y nos pondremos en contacto contigo. Si tienes alguna duda sobre c&oacute;mo va tu proceso env&iacute;anos un correo a <a href="mailto:postulaciones@goninis.com">postulaciones@goninis.com</a></p>
          <footer>

          </footer>
      </div>
    </div>
  </section>
</div>
