<section id="gn-content-edit">
	<h1>Editar perfil: <span>NOMBRE DE USUARIO</span></h1>
	
	<div class="field">
		<label class="label-field">Nombre</label>
		<input type="text" class="" name="" placeholder="Nombre"/> 
	</div>
	<div class="field">
		<label class="label-field">Apellido</label>
		<input type="text" class="" name="" placeholder="Apellido"/> 
	</div>
	<div class="field clearfix">
		<label class="label-field">Fecha de nacimiento</label>
        <div class="gn-job-time clearfix">
          <div class="notIE">
            <label class="gn-skin-when-time">
              <select id="job_when_hr" name="job[when]">
                <option>DD</option>
              </select>
            </label>
          </div>
          <div class="notIE">
            <label class="gn-skin-when-time">
              <select id="job_when_min" name="job[when]">
                <option>MM</option>
              </select>
            </label>
          </div>
          <div class="notIE">
            <label class="gn-skin-when-time-last">
              <select id="job_when_meridian" class="year" name="job[when]">
                <option>AAAA</option>
              </select>
            </label>
          </div>
        </div>
	</div>
	<div class="field">
		<label class="label-field">Correo</label>
		<input type="email" class="" name="nombre" placeholder="Correo electrónico"/> 
	</div>
	<div class="field">
		<label class="label-field">Contraseña</label>
		<input type="password" class="" name="" placeholder="Nueva contraseña"/> 
	</div>
	<div class="field">
		<label class="label-field">&#32;</label>
		<input type="password" class="" name="" placeholder="Confirmar contraseña"/> 
	</div>
	<div class="field clearfix">
		<label class="label-field">Ciudad</label>
			<div class="notIE">
            <label>
            	<select id="" name="">
            		<option value="">Guadalajara</option>
            	</select>            
            </label>
          </div>
	</div>
	<div class="field">
		<label class="label-field">Teléfono móvil</label>
		<input type="text" class="" name="" placeholder="Formato 52 (33) 3333 3333"/> 
	</div>
	<div class="field">
		<label class="label-field">Teléfono casa</label>
		<input type="text" class="" name="" placeholder="Formato 52 (33) 3333 3333"/> 
	</div>
	<div class="field">
		<label class="label-field">Dirección</label>
		<input type="text" class="" name="" placeholder="Ubicación para las tareas"/> 
	</div>
	<div class="field">
		<label class="label-field">&#32;</label>
		<a href="#">Añadir otra dirección +</a>		
	</div>
	<div class="field">
		<label class="label-field">&#32;</label>
		<p class="note"><span class="icon padlock"></span>
  	      ¡No te preocupes! La dirección completa sólo se compartirá con el handy asignado
  	    </p>
	</div>
	<hr>
	<a class="smallTabWrapper">
		<div href="" class="greenBtn">Actualizar</div>
	</a>
	<a class="smallTabWrapper">
		<div href="#" class="grayBtn">Cancelar</div>
	</a>
</section>