<section id="gn-content">
    <h1>NOMBRE DE USUARIO</h1>
    <div class="header">
        <label>Información de la cuenta</label>
        <a href="#">Editar</a>
    </div>

    <div class="field">
        <label class="label-field">Nombre</label>
        <label>Nombre y apellido</label>
    </div>
    <div class="field">
        <label class="label-field">Correo</label>
        <label>nuevo@correo.com</label>
    </div>
    <div class="field">
        <label class="label-field">Contraseña</label>
        <label><a href="#">Cambiar contraseña</a></label>
    </div>
    <div class="field">
        <label class="label-field">Ciudad</label>
        <label>Zapopan/Guadalajara</label>
    </div>
    <div class="field">
        <label class="label-field">Teléfono móvil</label>
        <label><a href="#">Añadir</a></label>
    </div>

    <div class="header">Redes sociales</div>

    <div class="field social clearfix">
        <div class="icon facebook"></div>
        <label>Conectar con Facebook</label>
    </div>
    <div class="field social clearfix">
        <div class="icon gplus"></div>
        <label>Conectar con Google +</label>
    </div>
</section>