<aside id="gn-sidebar">
  <nav id="gn-menu-nav">
    <ul class="clearfix">
      <li class="perfil">
        <div class="gn-menu-wrapper"></div>
        <a href="#">Perfil</a>
      </li>
      <li class="cuenta">
        <div class="gn-menu-wrapper"></div>
        <a href="#">Cuenta</a>
      </li>
      <li><div class="gn-menu-wrapper"></div></li>
    </ul>    
  </nav>

  <div class="shadowL sL2"></div>
</aside>